{% extends 'base.html' %}

{% block content%}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center" >Grupo Cero</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio nihil dolores voluptatibus dolore consequuntur rerum ullam iure fugit officiis dolorum, totam aliquam expedita asperiores. Corrupti similique voluptatum doloribus doloremque provident iste rem laborum natus ab in porro odio reiciendis, temporibus eum eveniet perferendis quam voluptatem, assumenda animi veniam dolore voluptas asperiores incidunt. Cupiditate ducimus, delectus, nesciunt veritatis earum unde dolores repellendus sequi nostrum architecto, corporis laudantium facere. Ipsa animi reprehenderit veritatis voluptas cupiditate? Placeat fuga ullam nulla saepe alias fugiat perferendis veniam nam, deleniti maxime sequi? Quidem nam laboriosam atque nemo? Possimus molestias eveniet ut unde enim eum voluptate tenetur!
    
        </p>
        <div class="text-center">
            <a class="btn btn-dark" href="{% url 'signin' %}">
                Iniciar Sesion
            </a>
            <a class="btn btn-secondary" href="{% url 'signup' %}">
                Registrarse
            </a>
        </div>

    </section>
</main>



{% endblock %}