{% extends 'base.html' %}

{% block content%}
<main class="container py-5">
    {% if user.is_authenticated %}
        <p class="text-end">Total de producto por el usuario "{{ user.username }}": {{ num_posts }}</p>
    {% endif %}
    <section class="card card-body">
        <div>
            <div class="text-center">
                
                <h1 class="display-3 py-1">Grupo Cero</h1>
                
            </div>
            <br>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    {% for post in posts %}
                        {% if not forloop.last %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter|add:1 }}"></button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for post in posts %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                            <a href="{% url 'detail' post.id  %}">
                                <img src="{{ MEDIA_URL }}media/{{ post.imagen }}" class="d-block carousel-image" alt="...">
                            </a>
                            </div>
                    {% endfor %}
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!--POR COMPLETAR EN URLS.PY Y VIEWS.PY-->
                <a href="{% url 'productos_por_artista' %}" class="btn">Ver por Artista</a>
                <a href="{% url 'productos_por_categoria' %}" class="btn">Ver por Categoría</a>
            </div>
        </div>
        <div class="text-center mt-5">
            <h2>Categorías</h2>
            <p><a href="{% url 'productos_por_categoria' id_categoria=1 %}">Ver productos por categoría 1</a></p>
            <p><a href="{% url 'productos_por_categoria' id_categoria=2 %}">Ver productos por categoría 2</a></p>
            <!-- Agrega más enlaces de categorías aquí si es necesario -->
        </div>
        

    </section>
    
</main>
{% endblock %}