{% extends 'base.html' %}

{% block content%}
    <h1>{{post.titulo}}</h1>
    {{error}}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>
            Actualizar
        </button>
    </form>
    <form action="{% url 'published_post' post.id %}" method="POST">
        {% csrf_token %}
        <button>
            Publicar
        </button>
    </form>

    <form action="{% url 'delete_post' post.id %}" method="POST">
        {% csrf_token %}
        <button>
            Borrar
        </button>
    </form>
{% endblock %}