<style>
    .with-left-margin {
        margin-left: 20px;
    }
</style>

{% extends 'base.html' %}

{% block content %}
<body>
    <div class="row with-left-margin">
        <div class="with-left-margin"><h1><br><p>Resultados de la búsqueda</p></br></h1></div>
        {% if resultados %}
            {% for resultado in resultados %}
                <div class="col-md-4 with-left-margin">
                    <div class="card mb-4">
                        <img src="{{ resultado.imagen.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ resultado.titulo }}</h5>
                            <p class="card-text">"Tempus fugit, amor manet. In medio virtus est, et sapientia vincit obscuritatem. Carpe diem et omnia vincit amor. Memento mori, vita brevis. Per aspera ad astra, ad aeternitatem."</p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">BUTTON</a> <!--INCLUIR UNA ACCIÓN-->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="with-left-margin">No se encontraron resultados</div>
        {% endif %}
    </div>
</body>
{% endblock %}